.main {
    display: inline-block;
    padding: .4rem;
    background-color: var(--Yellow);
    border-radius: 5px;

}

.main a {
    text-decoration: none;
    text-align: left;
    color: white;
    font-weight: bolder;

}