.creditinfo{
    padding: 10px;
    margin: 10px;
    max-width: 200px;
    
}

.credit{
    box-shadow: 5px 5px 10px gray;
    padding: 10px;
    text-align: center;
    background-color: rgba(18, 18, 113, 0.396);
    border-radius: 5px;
    color: white;
}