.heading {

    text-align: center;
    padding: 1rem;
    color: var(--DarkBlue);
    text-decoration: underline;
}


.inlinelable {
    display: inline;
    margin-bottom: 8px;
    color: #555;
    margin: .3rem;
    padding: .1rem;
}