.header {
    text-align: center;
    padding: 1rem;
    background: linear-gradient(45deg, #007bff, #00a5cf, #00c9a7, #00e07c, #3aea4d);
    background-size: 200% 200%;
    animation: gradientShift 10s infinite;
    color: #413f3f;
}


@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.header h1 {
    font-size: 2rem;
    font-weight: 900;
    padding: 0 .5rem;
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }

    100% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.9), 0 0 30px rgba(255, 255, 255, 0.7), 0 0 40px rgba(255, 255, 255, 0.5);
    }
}

.header p {
    /*font-size: ;*/
    max-width: 975px;
    margin: 1rem auto;
    padding: 0 1rem;
}