.main {
    position: relative;
}

.video-container {

    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    height: 90vh;
    z-index: 1;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frame {
    width: 100%;
    height: 300px;
}

.content {
    width: 100%;
    position: absolute;
    z-index: 20;
    top: 3rem;
    left: 0;
    text-align: center;
}

.content h1 {
    color: #F0C808;
    font-weight: bold;
    font-size: 5rem;
    margin: 1rem;
    padding: 0.5rem;
}

.content p {
    font-size: 1.4rem;
    color: white;
    margin: 1rem;
    padding: 0.5rem;
}

.btn {
    margin: 2rem;
    padding: 0.5rem;
}