/*nav {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background: rgb(2, 0, 36);
    background: linear-gradient(27deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 0%, rgba(7, 139, 201, 1) 0%, rgba(18, 18, 113, 1) 42%);
}*/

/*nav a {
    text-decoration: none;
    color: white;
}*/

.logo {
    color: white
}

.logo img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

/*nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}*/

/*nav li {
    cursor: pointer;
    transition: 0.25s ease-in-out;
    padding: 0.7rem;
    color: white;
}*/

/*li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}*/
/*
li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}*/


.hamburger-icon {
    display: none;
    cursor: pointer;
    padding: 10px;
    color: white;
}


.drawer ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.drawer li {
    margin: 2px;
    padding: 10px 1rem 10px 30px;
    border: 2px solid black;
    border-radius: 31px 31px 31px 31px;
    box-shadow: -5px 9px 42px -22px rgba(0, 0, 0, 0.51);

}

.drawer a {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 700px) {
    .hamburger-icon {
        display: block;
    }

    .listitem,
    .btn {
        display: none;
    }

    .navbar {
        justify-content: space-between !important;
    }
}

/*==============================*/

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6px;
    margin: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(27deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 0%, rgba(7, 139, 201, 1) 0%, rgba(18, 18, 113, 1) 42%);
}

.listitem ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;

}

.listitem li {
    cursor: pointer;
    transition: 0.25s ease-in-out;
    padding: 0.7rem;
    cursor: pointer;
    color: white;
}

.listitem a {
    text-decoration: none;
    color: inherit;
    transition: text-decoration 0.4s ease-out;
}

.listitem a:hover {
    text-decoration: underline;
}