.logo {
    color: white
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}




.hamburger-icon {
    display: none;
    cursor: pointer;
    padding: 6px;
    color: white;
}




@media only screen and (max-width: 700px) {
    .hamburger-icon {
        display: block;
    }

    .listitem,
    .btn {
        display: none;
    }

    .navbar {
        justify-content: space-between !important;
    }
}

/*==============================*/

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6px;
    margin: 2px;
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
    background: linear-gradient(27deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 0%, rgba(7, 139, 201, 1) 0%, rgba(18, 18, 113, 1) 42%);
}

.listitem ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;

}

.listitem li {
    cursor: pointer;
    transition: 0.25s ease-in-out;
    padding: 0.7rem;
    cursor: pointer;
    color: white;
}

.listitem a {
    text-decoration: none;
    color: inherit;
    transition: text-decoration 0.4s ease-out;
}

.listitem a:hover {
    text-decoration: underline;
}


.drawer ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    list-style-type: none;
    align-items: stretch;
}

.drawer li {
    margin: 2px;
    padding: 10px 1rem 10px 30px;
    border-radius: 20px 20px 20px 20px;
    /*box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;*/
    text-align: left;
    /*background-color: aliceblue;*/
    text-align: left;
}

.drawer li:hover {
    background: linear-gradient(27deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 0%, rgba(7, 139, 201, 1) 0%, rgba(18, 18, 113, 1) 42%);
    color: white;
}

.drawer a {
    text-decoration: none;
    color: inherit;

}

.drawerhead {
    border: 2px solid rgba(2, 0, 36, 1);
    color: rgba(2, 0, 36, 1);
    padding: auto;
    border-radius: 20px 20px 20px 20px;
}

.drawerdiv {
    padding: 6px;
    min-width: 50vw;

}