.main {
    max-width: 390px;
    box-shadow: var(--Shadow);
    border-radius: 6px;
    padding: 4px;
    margin: 10px;
}


.head {
    padding: 2px;
}

.pic img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 4px;
}

.pic {
    background-color: var(--ImageBackground);
    border-radius: 5px;
    display: inline-block;
}

.name {
    color: var(--Name);
    padding: 2px;
    margin: 0;
}

.desc {
    color: var(--SecondryText);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.mid {
    margin: 6px;
    padding: 3px;

}

.tag {
    padding: 4px;
    background-color: var(--Tag);
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    margin: 2px;
}

.tag h5 {
    margin: 0;
}

.bottom {
    margin: 2px;
    padding: 2px;
    font-size: 13px;
}