.tuition-details {
    box-shadow: 0px 10px 35px -9px rgba(0, 0, 0, 0.43);
    border-radius: 6px;
    padding: 4px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 1rem;
}

.name-details {
    padding: 0.8rem;
}

.desc-heading {
    color: var(--Dark);
    padding: .5rem;
    margin: .8rem 2px .8rem 2px;
}

.full-desc {
    color: rgb(57, 58, 58);
    padding: 3px;

}

.more-info {
    margin: .5rem;
    padding: .2rem;
}



.steper {
    margin: 1rem;
    padding: 1rem;
}

.contactbtn {
    margin-bottom: 2rem;
}

.pic img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
    padding: 4px;
}

.pic {
    background-color: rgb(67, 103, 153);
    border-radius: 5px;
}

.name {
    color: rgb(13, 68, 145);
    padding: 3px;
}

.desc {
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    padding: 3px;
}