:root {
    /*--Dark: rgb(13, 27, 73);*/
    --DarkBlue: rgba(18, 18, 113, 1);
    --LightBlue: rgba(7, 139, 201, 1);
    --Light: rgb(120, 16, 14);
    --Fade: rgba(13, 27, 73, 0.155);
    --SecondryText: gray;
    --Card: rgb(171, 197, 234);
    --ImageBackground: rgb(67, 103, 153);
    --Tag: rgb(171, 197, 234);
    --Name: rgb(13, 68, 145);
    --Shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.43);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(243, 243, 243, 0.543);
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /*font-family: Okra, Helvetica, sans-serif;*/
}

.css-i4bv87-MuiSvgIcon-root {
    font-size: inherit !important;
}

label {

    display: block;
    width: 100%;
    margin-bottom: 8px;
    color: #555;
}



input,
textarea {
    width: 100%;
    display: block;
    padding: 0.5rem;
    margin-bottom: .5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

input[type="checkbox"] {
    width: auto;
    display: inline;
}

input[type="radio"] {
    width: auto;
    display: inline;
}

textarea:focus,
input:focus {
    outline: 1.5px solid var(--LightBlue);
    /*border: 1px solid;*/
}

input[type="submit"] {
    background-color: var(--DarkBlue);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
}

input[type="submit"]:hover {
    background-color: var(--LightBlue);
}

.form {
    padding: 1.5rem;
}

.req {
    color: red;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}



.endmessage {
    text-align: center;
    padding: .2rem;
    color: var(--SecondryText);
}

.profilepic {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}