:root {
    /*--Dark: rgb(13, 27, 73);*/
    --DarkBlue: rgba(2, 0, 36, 1);
    --LightBlue: rgba(7, 139, 201, 1);
    --Light: rgb(120, 16, 14);
    --Fade: rgba(13, 27, 73, 0.155);
    --SecondryText: rgb(72, 73, 74);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(243, 243, 243, 0.543);
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.css-i4bv87-MuiSvgIcon-root {
    font-size: inherit !important;
}